body {
    font-family: 'Roboto', sans-serif;
}

div.section {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#fullpage .home {
    background-image: url("images/bg.gif");
}
#fullpage .about, #fullpage .music, #fullpage .video, #fullpage .tour, #fullpage .contact {
    background-image: url("images/bg1.gif");
}

#fullpage .wrapper {
    max-width: 60%;
    width: 60%;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    z-index: 999;
}

#fullpage .about h1 {
	font-size: 40px;
	text-align: left;
}

#fullpage .about p {
	font-size: 20px;
	text-align: left;
}

#fullpage .music iframe.bandcamp {
	max-width: 700px;
	border: 0;
}

#fullpage .video .video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}
#fullpage .video .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#fullpage .contact a {
    font-family: 'Rock Salt', cursive;
    font-size: 3vw;
    color: #FFF;
    text-decoration: none;
}

#fullpage .contact a:visited {
    color: #FFF;
}

#menu{
    position:fixed;
    top:0;
    left:0;
    height: 60px;
    z-index: 70;
    width: 100%;
    padding: 0;
    margin:0;
}
#menu li {
    display: inline-block;
    float: right;
    margin: 10px;
    color: #FFF;
    font-size: 18px;
    font-weight: bolder;
}
#menu li.active{
    border-bottom: 3px solid #FFF;
}
#menu li a{
    text-decoration: none;
    color: #FFF;
}
#menu li a {
    padding: 5px 10px;
    display:block;
}

#menu li a.icon{
    font-size: 20px;
    margin-right: 15px;
}

#fp-nav ul li a span, .fp-slidesNav ul li a span {
	background: #FFF !important;	
}

.fp-controlArrow.fp-next {
	right: 55px !important;
}

.fp-slidesNav {
	text-align: center;
}

/* Player */

#player {
	position: fixed;
	left: 25px;
	bottom: 25px; 
	height: 300px;
	width: 300px;
}

#player img {
	border: 0;
}

#player .viewport {
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	border-radius: 50%;
	overflow: hidden;
	pointer-events: none;	
}

#player .overview {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	margin: 0;
	padding: 0; 
	list-style: none;
}

#player .overview li {
	position: relative;
	height: 300px;
	width: 300px;
	float: left;
	
}

#player .overlay {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background: url('images/bg-rotatescroll.png') no-repeat 0 0;
	pointer-events: none;
}

#player .thumb {
	position: absolute;
	top: -3px;
	left: 137px;
	width: 100px;
	height: 100px;
	background: url('images/bg-thumb.png') no-repeat 50% 50%;
	cursor: pointer;
	touch-action: none;
	-ms-touch-action: none;
	z-index: 200; 
}

#player .dot {
	background: url('images/bg-dot.png') no-repeat 0 0;
	display: none;
	height: 12px;
	width: 12px;
	position: absolute;
	left: 155px;
	top: 3px;
	z-index: 100;
}

#player .dot span {
	display: none;
}

#player .button {
	position: absolute;
	left: 100px;
	top: 100px;
	width: 100px;
	height: 100px;
	background: url('images/button.png') no-repeat 0 -50px;
	cursor: pointer;
	opacity: 0.625;
	z-index: 300;
	touch-action: none;
	-ms-touch-action: none;
}

#play-button {
	display: none;
	position: fixed;
	left: 30px;
	bottom: 25px; 
	height: 50px;
	width: 50px;
	font-size: 50px;
	color: #FFF;
	cursor: pointer;
	opacity: 0.25;
	z-index: 300;	
}